<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lecture03.css">
    <title>My Website</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <main>
    <button id="backButton03" class="btn">←</button>
     <h1>Cognitive Neuroscience</h1>
    
     <div class="writing">
     Use of games in the rehabilitation of patients with traumatic brain injuries (TBI)-
      <br />
      <br />
     Traumatic brain injuries result from trauma to the brain caused by events such as accidents or assault (Elaklouk, Zin & Shapii, 2015). TBI is a leading cause of brain injuries and resultant disability in adults. The impact on functionality and ability depends on the type, size and location of the damage (Elaklouk, Zin & Shapii, 2015). People suffering from TBI exhibit a wide range of physical and cognitive disabilities, and as a result have varied recovery paths that may last for the rest of their lives (Cheng & Putnam, 2015). Various technologies can be used to aid in the rehabilitation process (Elaklouk, Zin & Shapii, 2015). 
      <br />
      <br />
     Using games within a rehabilitation context can have a positive impact on both cognitive and motor performance. Games can assist in motivating patients to participate in the rehabilitation process thus improving their rate of recovery. The benefits of using games in the rehabilitation process include the following. Firstly patients can engage with therapy in their own time. Secondly games can add a different dimension to traditional forms of rehabilitation, creating a ‘fun’ space for rehabilitation to take place. Allowing patients to engage more fully with therapy and in turn motivating them. Furthermore games can make rehabilitation more accessible as patients do not need to leave their home and can access therapy without the need for expensive transportation. This cuts down on the need for special equipment and face-to-face contact with specialists. 
      <br />
      <br />
     Games can assist in improving multiple areas including cognitive function, problem-solving skills, twitch skills such as reaction time, hand eye coordination and decision-making skills as well as memory and spatial awareness. Games can create a level of personalization allowing further engagement with the rehabilitation process. They can also focus on and integrate a number of fundamental principles such as rewards, goals, challenges, creating a form of meaningful play for the patient.

     Games can also assist in creating a community for patients with TBI, allowing them to interact with one another through the game, thus assisting in improving  a patient's social skills and emotional well-being. It allows patients to interact with people in a similar situation as themselves. Furthermore patients can engage using the game, on their own without the need for assistance from others. This in turn can help increase self-confidence and autonomy because they can choose when, where and how to engage with the game.
      <br />
      <br />
     Prototype:<br />
     Games can be developed that aim to target both specific and multiple areas for rehabilitation, such as memory and twitch skill. An example of this would be a game that makes the player match combinations together within a certain time limit, this works on memory, twitch skill and reaction speed. A game could use either a mouse or just a touch screen; both controls would work on hand eye coordination and twitch skill. The game would begin slowly and as the patient progresses through the levels the challenge would increase within a smaller time limit. 

     </div>

     <div class="game">
      <div class="Name">Prototype:</div>
      <div class="controls">
          <!-- <button class="playBtn">Play</button> -->
          <!-- <div class="stats">
              <div class="moves">0 moves</div>
              <div class="timer">time: 0 sec</div>
          </div> -->
      </div>
      <div class="board-container">
          <div class="board" data-dimension="4"></div>
          <div class="win">You won!</div>
      </div>
      <div class="restart-btn" id="restart">Restart</div>
     </div>

    </main>

  </body>
  <script src="../../lecture03.js"></script> 
</html>
