<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lecture04.css">
    <title>My Website</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Candal&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <main>
      <div class="container">
        <button id="backButton04" class="btn">←</button>
        <h1>Project Managment</h1>
        <h3>24 Bit - Game Production</h3>
        <div class="todo-app">
          <h2>To-Do List</h2>
          <div class="row">
            <input type="text" id="input-box" placeholder="To Do">
            <button class="add" onclick="addTask()">Add</button>
          </div>
          <ul id="list-container"> 
            <!-- <li id="checked">Task 1</li>
            <li>Task 2</li>
            <li>Task 3</li>
            <li>Task 4</li> -->
          </ul>
        </div>

      </div>

    </main>

  </body>
  <script src="../../lecture04.js"></script> 
</html>
