<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lecture02.css">
    <title>My Website</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <button id="backButton02" class="btn">←</button>
      <div class="heading">
      <h1> Architecture </h1>
      <h2>The importance of space</h2>
      </div>
      
      <div id="imageDiv">
        <img src="../../clouds.png" id="clouds" class="clouds">
        <img src="../../dots.png" id="dots" class="dots">
        <img src="../../temple.png" id="temple" class="temple">
        <img src="../../ground.png" id="ground" class="ground">
        <img src="../../path.png" id="path" class="path">
        <img src="../../behindRock.png" id="backgroundRocks" class="backgroundRocks">
        <img src="../../middleBush.png" id="middle" class="middle">
        <img src="../../frontRock.png" id="bigRockPillar" class="bigRockPillar">
        <img src="../../frontPillars.png" id="frontPillars" class="frontPillars">
        <img src="../../frontFlowers.png" id="frontFlowers" class="frontFlowers">
        
      </div>
    </main>

    <div class="h_line"></div>

    <div class="space">
      <span style="font-weight:bold;" class="H-sp">Space</span>
      <br />
      <br />
      Space is a fundamental form of game design as it can play a significant role in shaping gameplay, how the player interacts with the game world and the overall experience of the player. Space can be manipulated to create specific experiences and evoke certain emotions within the player. The way in which we use space within games communicates information about the game to the player and dictates the way in which the player can interact within the game world and what they can and can not do. 
      <br />
      <br />
      Space is a crucial element as it plays a supporting role, space helps to create a structure that supports a game's mechanics and goals.Space provides a way in which a player can interact and navigate through the game world, Space can be used to create a goal for the player and can be used to help show what direction the player needs to move in. 
      <br />
      <br />
      Space is also an important tool for immersion, as the level design can help transport the player and fully immerse them in the actions of the game and its world. Which in turn allows for a better play experience. Space can also be used in storytelling and communicating certain details about the game through the level design and environmental storytelling. Designers can use space to communicate important information to the player, as well as allow the player to explore the space to uncover information like clues, easter eggs and hidden story elements. 
      <br />
      <br />
      Space can also be used to create conflict and a challenge for the player to overcome. Space can be used to aid in the conflict or challenge, such as forcing a player to interact with a specific challenge or space can be the challenge and conflict. This design of space can test the players skills and can create a sense of accomplishment for the player when they overcome the conflict. 
      <br />
      <br />
      Space is an important tool in creating the pace and flow of the game. The way in which space is used can influence the pace and flow of a game. Space can be used to create a faster pace and tension, by forcing the player to interact with certain conflicts by using a more enclosed space. A game can also use space to give the player a break and allow them to rest. This utilisation of space to create a certain pace and flow depending on the need creates the rhythm of the game, which is important for the players experience and immersion. 
    </div>
  </body>

 


  <!-- <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/controls/OrbitControls.js"></script> -->


  <script type = "application/javascript" src="../../lecture02.js"></script>
 
</html>