<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lecture01.css">
    <title>My Website</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap" rel="stylesheet"> 
  </head>
  <body>
    
    <main>
      <button id="backButton01" class="btn">←</button>
      <h1>
        Directing
        <br />
        <sub-heading>
        TO BE OR NOT TO BE?
        </sub-heading>
        <br />
      </h1> 

      <div>
        <img src="../../circlePeople.png" id="circlePeople" class="circlePeople">
      </div>

    </main>
    
    <p class="directing">
      <span style="font-weight:bold;">Directing</span>
      <br />
      <br />
      A director or a game director is a key creative leader in the development of a project such as a film or game. They lead the overall vision and direction of the game, they translate this vision and direction into a creative framework or model that should be filled by others. The director is responsible for overseeing the development process, and sets others in motion. 
      <br />
      <br />
      A game director oversees elements of the project such as art, sound design, gameplay mechanics ect and makes sure they all work together to create a cohesive and engaging experience that fulfils the overall vision for the game and the player. A director in addition to creative leadership also plays a managerial role and has managerial responsibilities. 
    </p>

    <div class="line-2">
      <hr>
    </div>

    <p class="bodyLanguage">
      <span style="font-weight:bold;">Language & Blocking:</span> 
      <br />
      <br />
      Body language and blocking is an essential and important part of storytelling or conveying an idea, as it can convey and communicate certain emotions, thoughts, ideas and actions without the need for words. Body language and blocking can communicate characters' emotions and relationships through nonverbal cues such as gestures, postures, facial expressions and spatial relations. This allows the viewer to understand more about a story or situation without it having to be explicitly explained to them. It can be used to help engage and create a more immersive experience for the audience or player. 
      <br />
      <br />
      An example of this would be instead of a character explicitly stating that they are cold, a character could shiver, hug themselves, rub their hands on their arms or blow warm air into their hands. All of these gestures of the body convey the idea that the character is cold without the character needing to verbally state it.  
    </p>

    <p class="bodyLanguage">
      <div class="row">
        <div class="column">
          <img src="../../cold_V.png" id="coldV" class="imgBL">
        </div>
        <div class="column">
          <img src="../../cold_BL.png" id="coldBL" class="imgBL">
        </div>
        <div class="column">
          <img src="../../sad_V.png" id="sadV" class="imgBL">
        </div>
        <div class="column">
          <img src="../../sad_BL.png" id="sadBL" class="imgBL">
        </div>
      </div> 

    </p>

    <div class="line-2">
      <hr>
    </div>

    <p class="analysis">
      Analysis:
      <br />
      (scene from the lecture task)
      <br />
      <img src="../../BLAnalysis.png" id="BLScene" class="BLScene">
      <br />
      <br />

      <div class="row2">
          <div class="column2">
            Scene 1:
            <br />
            <br />
            What was thought:
            <br />
            <br />
            two people kneeling for one person, maybe they are in awe. The person off to the side looks as if they are sneaking up on the others (purpose is unclear).
            <br />
            <br />
            What was intended: 
            <br />
            <br />
            A group of people who cheerlead, getting ready to do a lift. The person off to the side is trying to sneak up on the group of people. 
          </div>
          <div class="column2">
            Scene 2:
            <br />
            <br />
            What was thought: 
            <br />
            <br />
            A group of people who are cheerleading doing a lift, while another person is sneaking up on them (intentions unknown).
            <br />
            <br />
            What was intended:
            <br />
            <br />
            Same as what was thought, this scene provided more context for the viewer. 
          </div>
          <div class="column2">
            Scene 3: 
            <br />
            <br />
            What was thought:
            <br />
            <br />
            Someone who is jealous or hates the cheerleaders, tries to get revenge on them by pushing the main cheerleader during the lift. 
            <br />
            <br />
            What was intended:
            <br />
            <br />
            Same as what was thought, this scene reveals the motivation and plan of the person sneaking up on the group of cheerleaders. 
          </div>
      </div>

    </p>
    
  </body>

  <script type = "application/javascript" src="../../lecture01.js"></script>
</html>
