@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
@import url('https://fonts.google.com/specimen/Climate+Crisis');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    
}

h1{
    font-family: 'Lilita One', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-size: 85px;
}

h3{
    font-family: 'Quicksand', sans-serif;
    padding-top: 2%;
    letter-spacing: 1px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 0;
}


.container{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #c9e5e6, #e4c1eb); */
    background: #94B49F;
    padding: 1px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #CEE5D0;
    margin: 80px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    border: 3px solid #422800;
}

.todo-app h2{
    font-family: 'Quicksand', sans-serif;
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FCF8E8;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.add{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ECB390;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.add:hover{
    background: #bb8c6f;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../../emptyCircle.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
    
}

ul li.checked::before{
    background-image: url(../../checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #FCF8E8
}


.btn{
    background-color: #ECB390;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    transform: translate(10%, 10%);
}
  
.btn:hover {
    background-color: #bb8c6f;
}
  
.btn:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}