@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    padding-top: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
    padding-bottom: 2%;
    color: aliceblue;
}

h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    padding-bottom: 2%;
    color: aliceblue;
}

/* .mainContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    position: relative;
} */

.container{
    display: flex;
    justify-content: center;
}

.grid{
    width: 200px;
    height: 400px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    /* outline: 4px solid rgb(42, 42, 42);  
    box-shadow: 0px 2px 2px 2px rgba(118, 118, 118, 0.5); */
}

.grid div{
    height: 20px;
    width: 20px;
}

.tetromino{
    background-color: blue;
    border: 1.2px outset rgb(76, 76, 76);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    
}

.mini-grid{
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    align-items: center;
    align-content: center;
}

.mini-grid div{
    height: 20px;
    width: 20px;
    align-items: center;
}

.mini-gridContainer{
    text-align: center;
    margin-left: 100px;
    justify-content: center;
    height: 250px;
    width: 200px;
    align-items: center;
    outline: 4px solid rgb(42, 42, 42);
    align-content: center;
    
}

body {
    background: rgb(213, 213, 213);
    background: radial-gradient(circle, rgba(164,224,156,1) 15%, rgba(71,200,157,1) 89%); 
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
}

.startButton{
    background-color: rgb(220, 49, 97);
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    border: 5px outset rgb(255, 255, 255);
    border-radius: 40px;
    padding: 16px 40px;

}

.nextTxt{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #000000;
    font-size: 20px;

 }


