@import url(https://fonts.google.com/specimen/Climate+Crisis);

body {
    background-color: #F5ECDB;
    overflow: hidden;
  }

h1 {
  font-family: 'Lilita One', cursive;
  font-size: 165px;
  text-transform: uppercase;
  letter-spacing: -1px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  /* margin-bottom: 0.8rem; */
  color: rgb(0, 0, 0);
  outline: none;
  text-align: center;
  padding-bottom: 5%;
  margin: 0%;
}

h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 3px;
}


.center{
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}


button{
  align-items: center;
  background-color: transparent;
}

.button01{
  transition: top 0.5s ease-in-out;
  align-self: center;

  position: absolute;
  width: 125vw;
  height: 95vh;
  left: -82px;
  top: 245px;

  
}

.button02{
 
  overflow: hidden;
  transition: top 0.5s ease-in-out;

  position: absolute;
  width: 125vw;
  height: 80vh;
  left: -82px;
  top: 330px;
  

  
}

.button03{
  
  position: absolute;
  width: 125vw;
  height: 60vh;
  left: -82px;
  top: 420px;

  transition: top 0.5s ease-in-out;

 
}

.button04{
  position: absolute;
  width: 125vw;
  height: 50vh;
  left: -82px;
  top: 505px;

  transition: top 0.5s ease-in-out;

 
}

.button05{
  position: absolute;
  width: 125vw;
  height: 35vh;
  left: -82px;
  top: 595px;

  transition: top 0.5s ease-in-out;

 
}

.button06{
  position: absolute;
  width: 100%;
  height: 100%;
  /* left: -1px;
  top: 883px; */
  overflow: hidden;

  transition: top 0.5s ease-in-out;

 
}

.button01:hover{
  top: 230px;
  
}

.button02:hover{
  top: 315px;
  
}

.button03:hover{
  top: 400px;
  
} 

.button04:hover{
  top: 485px;
  
}

.button05:hover{
  top: 575px;
}







